@import "./css/_functions.scss";
@import "./css/colors.scss";

html,
body {
  background-color: ui("background");
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  overscroll-behavior: contain;
}

#game {
  position: fixed;
}


#screen {
  image-rendering: pixelated;
}

#version {
  color: ui("info");
}
